# References
# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore/blob/master/Python.gitignore

# Non-source files
*.log
*.bak
*.bak.*
*.tmp

# Processing paths
cache/
logs/
output/
temp/

# Tools
.idea/
